/*
 * Sentire CSS
 */

.ui-content {
	background-color: white;
	color: #3f3fa6;
}

h2 {
	color: #3f3fa6;

}

div.ui-header.ui-bar-inherit{
	background-color: white;
	color: #3f3fa6;
}

.ui-navbar{
    position: fixed;
    bottom: 0;
    width: 100%;
}

#navlink{
	background-color: white;
	color: #3f3fa6;
}

#current{
	background-color: #e6e6e6;
	color: #3f3fa6;
}


#tabcurrent {
    background-color: #e6e6e6;
    color: #3f3fa6;
}

#calendar_basic{
	margin-left: auto;
	margin-right: auto;
	margin-top: 120px;
}

#curve_chart, #myChart {
	margin-left: auto;
	margin-right: auto;
}


#checkstyle, #profbg{
	background-color: white;
	color: #3f3fa6;
}


#calculatebtn {
	width: 40%;
	margin-right: auto;
	margin-left: auto;
	background-color: #4d5f80;
}

.ui-grid-solo {
    border:1px solid white;
    padding: 4px;
}
