<!DOCTYPE html>

<html>
    <head>
      <meta charset="UTF-8">  
      <title>Sentire</title>
      <link href="static/sentire.css" rel="stylesheet" type="text/CSS">


      <script src="static/jquery-1.9.1.min.js"></script>
      <script src="static/jquery.mobile-1.4.0.min.js"></script>
      <script type="text/javascript" src="static/chartsLoader.js"></script> 
      <script type="text/javascript" src="static/form_behavior.js"></script>

      <link rel="stylesheet" href="static/jquery.mobile-1.4.0.min.css" />
      <link rel="stylesheet" href="static/font-awesome.min.css">

      <script type="text/javascript">
        {% include 'charts.js' %}
      </script>
            
      <meta name="viewport" content="width=device­width, user­scalable=no" />
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-webapp-status-bar-style" content="black">
      <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densityDpi=device-dpi"/>
       
    </head>
    <body>

      <!--**********************first page**********************-->
        <div data-role="page" id="home" data-theme="a">
          <div data-role="header"  data-position="inline">
              <h1>Sentire</h1>
          </div>
      
          <div role="content" class="ui-content">
            <!-- this is where the temp data dump goes -->
            <div id="data"></div>
          </div> <!-- /content -->

          <div data-role="footer">
              <div data-role="navbar" class="navbar">
                  <ul>
                      <li> <a href="#home" id="current" data-icon="home">Home</a>
                      <li> <a href="#graphs" id="navlink" data-icon="clock">Graphs</a>    
                      <li> <a href="#customize" id="navlink" data-icon="bullets">Customize</a>
                  </ul>
              </div> <!-- /navbar -->
          </div> <!-- /footer -->
        </div> <!-- /home -->

        
        <!-- ***********************Start of Graphs Page*********************** -->
        <div data-role="page" id="graphs" data-theme="a">
            <div data-role="header" data-position="inline">
                <a data-icon="carat-l" class="ui-btn ui-corner-all ui-icon-carat-l ui-btn-icon-notext" id="btnstyle" data-rel="back" back-btn="true"></a>
                <h1>Your Graphs</h1>
            </div>

            <div role="content" class="ui-content">
              <table class="columns graph-table">
                <tr>
                  <td><div id="line_chart_div" style="border: 1px solid #ccc"></div></td>
                </tr>
                <tr>
                  <td><div id="calendar_chart_div" style="border: 1px solid #ccc"></div></td>
                </tr>
                <tr>
                  <td> <div id="mood_chart_div" style="border: 1px solid #ccc"></div></td>
                </tr>
                <tr>
                  <td> <div id="food_chart_div" style="border: 1px solid #ccc"></div></td>
                </tr>
              </table>

            </div> <!-- content -->
            
            <div data-role="footer">
              <div data-role="navbar" class = "navbar">
                <ul>
                  <li> <a href="#home" id="navlink" data-icon='home'>Home</a>
                   <li> <a href="#graphs"  id="current"  data-icon="clock">Graphs</a>         
                  <li> <a href="#customize" id="navlink" data-icon="bullets">Customize</a>
                </ul>
              </div>
            </div>
        </div>

        <!-- **********************Start of customize Page********************** -->

        <div data-role="page" id="customize" data-theme="a">
            <div data-role="header" data-position="inline">
                <a data-icon="carat-l" class="ui-btn ui-corner-all ui-icon-carat-l ui-btn-icon-notext"  id="btnstyle" data-rel="back" back-btn="true"></a>
                <h1>Customize</h1>
            </div>

            <div role="content" class="ui-content">
              <div id="customize">
                <h3>Select the function for each bead you've snapped in</h3>
                <form action="/" method="post">
                  <label for="a_1">Passive Input #1</label>
                  <select name="a_1" class="a_1">
                     <option>Choose Input Type</option>
                     <option value="temperature">Temperature</option>
                     <option value="light">Light</option>
                     <option value="sound">Sound</option>
                  </select>
                  <label for="a_2">Passive Input #2</label>
                  <select name="a_2" class="a_2">
                     <option>Choose Input Type</option>
                     <option value="temperature">Temperature</option>
                     <option value="light">Light</option>
                     <option value="sound">Sound</option>
                  </select>
                  <label for="a_3">Passive Input #3</label>
                  <select name="a_3" class="a_3">
                     <option>Choose Input Type</option>
                     <option value="temperature">Temperature</option>
                     <option value="light">Light</option>
                     <option value="sound">Sound</option>
                  </select>

                  <br><hr><br>

                  <label for="d_1">Active Input #1</label>
                  <select name="d_1" class="d_1">
                     <option>Choose Input Type</option>
                     <option value="sleep">Sleep</option>
                     <option value="water">Water</option>
                     <option value="eating">Eating</option>
                     <option value="exercising">Exercising</option>
                     <option value="mood">Mood</option>
                  </select>
                  <div class="d_1_mood_desc" style="display:none;">
                    <label for="d_1_mood_desc">What mood for this button?</label>
                    <input type="text" name="d_1_mood_desc" placeholder="Specify mood to track"/>
                  </div>
                  <label for="d_2">Active Input #2</label>
                  <select name="d_2" class="d_2">
                     <option>Choose Input Type</option>
                     <option value="sleep">Sleep</option>
                     <option value="water">Water</option>
                     <option value="eating">Eating</option>
                     <option value="exercising">Exercising</option>
                     <option value="mood">Mood</option>
                  </select>
                  <div class="d_2_mood_desc" style="display:none;">
                    <label for="d_2_mood_desc">What mood for this button?</label>
                    <input type="text" name="d_2_mood_desc" placeholder="Specify mood to track"/>
                  </div>
                  <label for="d_3">Active Input #3</label>
                  <select name="d_3" class="d_3">
                     <option>Choose Input Type</option>
                     <option value="sleep">Sleep</option>
                     <option value="water">Water</option>
                     <option value="eating">Eating</option>
                     <option value="exercising">Exercising</option>
                     <option value="mood">Mood</option>
                  </select>
                  <div class="d_3_mood_desc" style="display:none;">
                    <label for="d_3_mood_desc">What mood for this button?</label>
                    <input type="text" name="d_3_mood_desc" placeholder="Specify mood to track"/>
                  </div>
                  <label for="d_4">Active Input #4</label>
                  <select name="d_4" class="d_4">
                     <option>Choose Input Type</option>
                     <option value="sleep">Sleep</option>
                     <option value="water">Water</option>
                     <option value="eating">Eating</option>
                     <option value="exercising">Exercising</option>
                     <option value="mood">Mood</option>
                  </select>
                  <div class="d_4_mood_desc" style="display:none;">
                    <label for="d_4_mood_desc">What mood for this button?</label>
                    <input type="text" name="d_4_mood_desc" placeholder="Specify mood to track"/>
                  </div>
                  <br><hr>
                  <input type="submit" value="Update Customizations">

                </form>
              </div>  
             </div>

            <div data-role="footer">
              <div data-role="navbar" class = "navbar">
                <ul>
                  <li> <a href="#home" id="navlink" data-icon='home'>Home</a>
                   <li> <a href="#graphs"  id="navlink"  data-icon="clock">Graphs</a>         
                  <li> <a href="#customize" id="current" data-icon="bullets">Customize</a>
                </ul>
              </div>
            </div>

        </div>

    </body>
</html>