<!DOCTYPE html>

<html>
    <head>
      <meta charset="UTF-8">  
      <title>Sentire</title>
      <link href="static/sentire.css" rel="stylesheet" type="text/CSS">

      <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.css" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
      <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
      <script src="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js"></script>
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

      <!-- GOOGLE CHARTS -->
      <script type="text/javascript">
        {% include 'charts.js' %}
      </script>
            
      <meta name="viewport" content="width=device­width, user­scalable=no" />
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-webapp-status-bar-style" content="black">
      <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densityDpi=device-dpi"/>
        
    </head>
    <body>

      <!--**********************first page**********************-->
        <div data-role="page" id="home" data-theme="a">
          <div data-role="header"  data-position="inline">
              <h1>Sentire</h1>
          </div>
      
          <div role="content" class="ui-content">
            <!-- this is where the temp data dump goes -->
            <div id="data"></div>
          </div> <!-- /content -->

          <div data-role="footer">
              <div data-role="navbar" class = "navbar">
                  <ul>
                      <li> <a href="#home" id="current" data-icon="home">Home</a>
                      <li> <a href="#graphs" id="navlink" data-icon="clock">Graphs</a>    
                      <li> <a href="#notes" id="navlink" data-icon="bullets">Notes</a>
                  </ul>
              </div> <!-- /navbar -->
          </div> <!-- /footer -->
        </div> <!-- /home -->

        
        <!-- ***********************Start of Graphs Page*********************** -->
        <div data-role="page" id="graphs" data-theme="a">
            <div data-role="header" data-position="inline">
                <a data-icon="carat-l" class="ui-btn ui-corner-all ui-icon-carat-l ui-btn-icon-notext" id="btnstyle" data-rel="back" back-btn="true"></a>
                <h1>Your Graphs</h1>
            </div>

            <div role="content" class="ui-content">
              <table class="columns graph-table">
                <tr>
                  <td><div id="line_chart_div" style="border: 1px solid #ccc"></div></td>
                </tr>
                <tr>
                  <td><div id="calendar_chart_div" style="border: 1px solid #ccc"></div></td>
                </tr>
              </table>

            </div> <!-- content -->
            
            <div data-role="footer">
            <div data-role="navbar" class = "navbar">
              <ul>
                <li> <a href="#home" id="navlink" data-icon='home'>Home</a>
                 <li> <a href="#graphs"  id="current"  data-icon="clock">Graphs</a>         
                <li> <a href="#notes" id="navlink" data-icon="bullets">Notes</a>
              </ul>
            </div>
            </div>
        </div>

        <!-- **********************Start of Notes Page********************** -->

        <div data-role="page" id="notes" data-theme="a">
            <div data-role="header" data-position="inline">
                <a data-icon="carat-l" class="ui-btn ui-corner-all ui-icon-carat-l ui-btn-icon-notext"  id="btnstyle" data-rel="back" back-btn="true"></a>
                <h1>Notes</h1>
            </div>

            <div role="content" class="ui-content">
              <div id="notes">
                <form>
                  <!--<label for="time-1"></label>
                  <input type="time" data-clear-btn="false" name="time-1" id="myTime" value=""> -->
                    <p>Enter three words to describe each day</p>
                     <label for="note-1"><strong>Nov. 16, 2016</strong></label>
                     <input type="text" name="note-1" id="note-1" value="">
                     <label for="note-1"><strong>Nov. 17, 2016</strong></label>
                     <input type="text" name="note-1" id="note-1" value="">
                     <label for="note-2"><strong>Nov. 18, 2016</strong></label>
                     <input type="text" name="note-2" id="note-2" value="">
                     <label for="note-3"><strong>Nov. 19, 2016</strong></label>
                     <input type="text" name="note-3" id="note-3" value="">
                     <label for="note-4"><strong>Nov. 20, 2016</strong></label>
                     <input type="text" name="note-4" id="note-4" value="">
                     <label for="note-5"><strong>Nov. 21, 2016</strong></label>
                     <input type="text" name="note-5" id="note-5" value="">
                </form>
              </div>  
             </div>

            <div data-role="footer">
              <div data-role="navbar" class = "navbar">
                <ul>
                  <li> <a href="#home" id="navlink" data-icon='home'>Home</a>
                   <li> <a href="#graphs"  id="navlink"  data-icon="clock">Graphs</a>         
                  <li> <a href="#notes" id="current" data-icon="bullets">Notes</a>
                </ul>
              </div>
            </div>

        </div>

    </body>
</html>